# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.env
.venv/

# VS Code
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db